BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: CaseSensitive
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
Standard: c++20
